h3{
    font-size: var(--font-xl);
    font-weight: 600;
    color:var(--text-primary-color);
    margin-top: 20px;
}
section > p {
    margin-top: 5px;
    margin-bottom: 15px;
}
.details-general,.stock .card,.sell .card{
    display: flex;
    gap:25px;
    justify-content: start;
    background: white;
    padding: 25px;
    border-radius: 8px;
    border:var(--border-lighter);
}
.details-general:hover, .stock .card:hover{
    border-color: var(--focus-color);
    background-color: rgb(251, 253, 255);
}
.details-general h4, .details-general p{
    width: fit-content;
}
.details-general img{
    width: 200px;
    object-fit: cover;
    margin-right: 10px;
}
.details-general p{
    font-size: var(--font-sm);
    color:var(--text-secondary-color);
    margin-bottom: 5px;
}
.details-general .details{
    width: fit-content;
}
.details h4{
    font-size: var(--font-lg);
    font-weight: 600;
    color:var(--text-terciary-color);
    margin-bottom: 5px;
}
.details h4:not(:first-child){
    margin-top: 12px;
}
.stock{
    display: flex;
    justify-content: start;
    gap:20px;
    margin-top: 20px;
}
.stock .card{
    gap:0px;
    padding: 40px !important;
    white-space: nowrap;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}
.stock .card:first-child{
    height: max-content;
}
.stock .card:last-child{
    flex:1;
    width: 500px;
    padding: 0 !important;
}
.card h2{
    color:var(--text-terciary-color);
    margin-bottom: 5px;
    font-size: 1.8rem;
}
.card p{
    color:var(--text-secondary-color);
}
.sell{
    display: flex;
    justify-content: start;
    gap:20px;
}
.sell .card{
    text-align: center;
    gap:0;
    flex-direction: column;
}
.sell .card h2{
    width: fit-content;
    margin: auto;
    position: relative;
    margin-bottom: 10px;
}
.sell .card h2 span{
    margin-left: 5px;
    position: absolute;
    left: 100%;
    top:50%;
    transform: translateY(-50%);
    font-size: var(--font-xs-2);
    font-weight: 500;
    color:var(--primary-color);
}
.sell .card h2 span.wrong{
    color:var(--wrong-color)
}