@import url("../../variables-css.css");

section main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    gap: 15px;
}
section .profile{
  flex:1;
}
section .profile .navigation{
    font-size: var(--font-base);
    margin: 10px 0 30px 0;
    display: flex;
    justify-content: start;
    border-bottom: var(--border-navigation);
    --width-line: 0px;
    --left-position-line: 0px;
    position: relative;
}
section .profile .navigation::before{
    transition: .15s ease-in left, .15s ease-in width;
    content: "";
    bottom: -2px;
    position: absolute;
    width: var(--width-line);
    left: var(--left-position-line);
    height: 2px;
    background-color: var(--primary-color);
}
section .profile .navigation button{
    padding: 10px 15px;
    font-size: var(--font-base);
    color: var(--text-plus-color);
    font-weight: 500;
}
section .profile .navigation button:hover{
    color: var(--hover-text-plus-color);
}
section .profile .navigation button.active{
    color: var(--primary-color);
}
section .profile .activity h3 {
  font-size: var(--font-lg);
  font-weight: 600;
  color: var(--text-primary-color);
}
section .profile form > div > p{
  font-size: var(--font-xs-2);
  margin: 5px 0 15px 0;
  color: var(--text-secondary-color);
  line-height: 1.4;
  width: 100%;
}
section .sale-message > i{
  font-size: 22px;
}
.permissions h3{
  font-size: var(--font-xl);
  color: var(--text-primary-color);
  margin-bottom: 5px;
}
.permissions > p{
  font-size: var(--font-sm);
  color:var(--text-secondary-color);
  width: 70%;
  line-height: 1.4;
}
.permission .details{
  width: 80%;
}
.permission .details p{
  margin-bottom: 0;
}
.form{
  background: transparent !important;
}
.form > h3, .content > h3{
  font-size: var(--font-xl) !important;
  margin-top: 30px;
  margin-bottom: 5px;
  font-weight: 600;
  color:var(--text-primary-color);
}
.form > p, .content > p{
  margin-bottom: 25px !important;
  font-size: var(--font-sm) !important;
  line-height: 1.4;
  color:var(--text-secondary-color);
}
.form > div:not(.container-buttons, .alert-message){
  padding: 20px;
  background: white;
  border:var(--border-lighter);
  box-shadow: var(--box-shadow-cards);
  border-radius: 8px;
  margin-bottom: 15px;
}
.permission{
  display: flex;
  justify-content: space-between;
}
.content > ol{
  background-color: white;
  border-radius: 8px;
  border:var(--border-lighter);
  box-shadow: var(--box-shadow-cards);
}
.content > ol li{
  position: relative;
  color:var(--text-primary-color);
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px;
  gap:20px;
  border-bottom: var(--border-lighter);
}
.content > ol li:last-child{
  border-bottom: none;
}
.content > ol li i{
  display: grid;
  font-size: 1.2rem;
  padding: 5px;
  height: 32px;
  width: 32px;
  background: rgba(245, 209, 4, 0.15);
  border: 1px solid rgba(238, 205, 21, 0.3);
  border-radius: 100%;
  color:rgba(212, 126, 14, 0.95);
}
.content > ol li i::before{
  margin: auto;
}
.content ol li p{
  font-size: var(--font-base);
  line-height: 1.5;
  font-weight: 500;
}
.content ol li p:last-of-type{
  color:var(--text-secondary-color);
  font-weight: 400;
}
.content ol li span{
  font-weight: 600;
}
.content ol li .badge{
  position: absolute;
  font-weight: 500;
  right: 0;
  margin-right: 20px;
  top:50%;
  transform: translateY(-50%);
}