@import url("../variables-css.css");

body {
  display: flex;
  max-height: 100vh;
  width: 100%;
  background-color: rgb(250 250 250);
  overflow: hidden;
}
::-webkit-scrollbar-thumb{
  background-color: #768186b9;
}
::-webkit-scrollbar {
  height: 100%;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  width: 100%;
}
section > h2{
  font-size: var(--font-3xl);
  font-weight: 700;
  color:var(--text-primary-color);
  margin-bottom: 5px;
}
section > h2 i{
  font-weight: 400;
  margin-right: 7px;
}
section > p{
  font-size: var(--font-base);
  color:var(--text-secondary-color);
  line-height: 1.3;
  width: 60%;
  margin-bottom: 10px;
}
.primary_navbar {
  position: relative;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(20, 26, 34);
  color: #fff;
  font-size: 0.9;
  transition: 0.12s width ease-in;
}
.primary_navbar.short {
  width: 60px;
}
.nav_title {
  max-width: 160px;
  pointer-events: none;
  text-overflow: ellipsis;
  overflow: hidden;
}
.primary_navbar .header {
  flex: 1;
  position: relative;
}
.primary_navbar .header section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  width: 100%;
  height: 50px;
  padding: 5px 15px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}
.primary_navbar.short .header section {
  justify-content: center;
  gap: 0;
}
.primary_navbar.short .header section span {
  transition: 0.12s max-width ease-in, 0.01s opacity ease-in;
}
.primary_navbar.short .header section h2,
.primary_navbar.short .header section span {
  max-width: 0;
  opacity: 0;
  margin: 0;
  pointer-events: none;
}
.primary_navbar .header section h2 {
  font-weight: 500;
  flex: 1;
  color:white;
  font-size: var(--font-lg);
  text-align: left;
  transition: 0.12s width ease-in, 0.12s opacity ease-in;
  margin-right: 5px;
}
.header .nav_items {
  position: relative;
  height: 100%;
  max-height: 50vh;
  margin-top: 10px;
  padding-bottom: 20px;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.header .nav_items:hover::-webkit-scrollbar-thumb{
  background-color: #50585cb9;
}
.header .nav_items::-webkit-scrollbar {
  height: 100%;
  width: 7px;
}
.short .nav_items::-webkit-scrollbar{
  width: 0;
}
.header .nav_items::-webkit-scrollbar-thumb {
  border-radius: 8px;
  width: 100%;
}
.primary_navbar.short .items {
  padding: 5px 10px !important;
}
/* .header .nav_items .items.active {
  border-left: 2px solid rgb(55 151 222);
} */
.header .nav_items .items {
  width: 100%;
  height: auto;
  padding: 5px 15px;
}
.header .nav_items .items:first-child a{
  margin: 5px 0;
}
.header .nav_items .items h3 {
  margin: 10px 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: rgba(218, 218, 218, 0.7);
  transition: 0.12s opacity ease-in;
}
.primary_navbar.short .nav_items .items h3 {
  opacity: 0;
}
.primary_navbar a:hover{
  text-decoration: none;
}
.nav_items .items a,
.config {
  font-size: .8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 6px;
  padding: 5px;
  color: rgb(255 255 255 /0.9);
  transition: 0.01s 0.12s justify-content ease-in;
}

.primary_navbar.short .nav_items .items a,
.primary_navbar.short .config {
  justify-content: center;
}
.nav_items .items a div,
.config div {
  display: flex;
  gap: 3px;
  align-items: center;
}
.primary_navbar.short .items a div p,
.primary_navbar.short .items a > i,
.primary_navbar.short .config div p,
.primary_navbar.short .config > i {
  display: none;
}
.nav_items .items > a,
.config{
  position: relative;
  z-index: 1;
  margin: 3px 0;
}
.config{
  margin: 6px 0;
}
.nav_items .items > a::before,
.config::before{
  content: "";
  border-radius: 4px;
  top: 0;
  left: 0;
  z-index: -1;
  width: 0;
  height: 100%;
  position: absolute;
  background-color: #54606728;
  transition: .15s ease-in-out width;
}
.nav_items .items > a::after,.config::after{
  content: "";
  border-radius: 8px;
  top: 0;
  left: -7px;
  height: 100%;
  width: 3px;
  position: absolute;
  background: var(--primary-color);
  opacity: 0;
  transition: .2s ease-in-out opacity;
}
.nav_items .items > a:hover::before,
.config:hover::before, a.active::before{
  /* border-right:5px solid rgba(255, 255, 255, 0.2); */
  width: 100% !important;
}
.nav_items .items > a:hover::after,
.config:hover::after, a.active::after{
  /* border-right:5px solid rgba(255, 255, 255, 0.2); */
  opacity: 1 !important;
}
.nav_items .items a i,
.config i {
  margin-right: 5px;
  font-size: 1.2rem;
  padding: .2rem;
  transition: .12s ease rotate;
}
.nav_items .items a div > i{
  font-weight: 100;
}
.nav_items .items > ol{
  pointer-events: none;
  opacity: 0;
  height: 0;
  border-left: 2px solid rgba(255, 255, 255, .2);
  padding: 0;
  margin-left: 20px;
  transition: .2s ease all;
}
.nav_items .items > ol a{
  color: rgb(255 255 255 /.6);
}
.nav_items .items > ol.active{
  pointer-events: auto;
  opacity: 1;
  height: 100%;
  padding: .2rem 0;
}
.short .nav_items .items > ol{
  margin-left: 17px;
}
.short .nav_items .items > ol li{
  opacity: 0;
  pointer-events: none;
}
.nav_items .items > ol li{
  font-size: .8rem i !important;
  padding-left: .7rem;
}
.short .nav_items .items > a:hover::before,
.short .config:hover::before{
  border-right:0;
}
.nav_items .items > ol a:hover{
  color: rgb(87 184 255);
}
.nav_items .items a i.active,
.config i.active {
  rotate: 180deg;
}
.primary_navbar.short .nav_items .items a i,
.primary_navbar.short .config i {
  margin: 0;
}
.end- {
  padding: 15px;
  max-height: 100%;
}
.primary_navbar.short .end- {
  padding: 15px 10px;
}
.primary_navbar .config {
  height: auto;
}
.primary_navbar:hover .scroll {
  opacity: 1;
}
.primary_navbar .scroll {
  opacity: 0;
  display: block;
  font-size: 2rem;
  color: #e9e9e9;
  margin: 5px auto 0 auto;
  background: rgb(103 106 112 / .1);
  transition: 0.1s ease-in-out opacity;
}
.primary_navbar .scroll:hover {
  background-color: rgb(103 106 112 / .15);
  color: #fff;
}
body > div.root {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.first-header {
  position: relative;
  display: flex;
  width: 100%;
  background-color: #fff;
  z-index: 70;
  min-height: 50px;
  padding: 5px 30px;
  border-bottom:var(--border-lighter);
  box-shadow: var(--box-shadow-base);
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.first-header i {
  font-size: 1.1rem;
  color: #3f3f3f;
}
#form-search{
  margin: 20px 0;
}
.btn-rounded {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: grid;
  font-size: 1.2rem;
  place-content: center;
}
.btn-square {
  min-width: 33px;
  min-height: 33px;
  border-radius: 5px;
  display: grid;
  font-size: 1.1rem;
  place-content: center;
}
a.btn{
  text-decoration: none;
}
.first-header .search {
  background-color: #f1f1f1;
  z-index: 2;
}
.search_container {
  display: flex;
  position: relative;
}
.search_container .search_result {
  position: absolute;
  padding: 5px;
  border-radius: 8px;
  background-color: #fff;
  width: 100%;
  bottom: -35px;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.07);
  opacity: 0;
  transition: 0.05s ease-in opacity;
}
.search_result.active {
  opacity: 1;
}
#search-global {
  color: #022342;
  padding-left: 20px;
  width: 0;
  background-color: #f8f8f8;
  border-radius: 20px 0 0 20px;
  margin-right: calc(-35px / 2);
  opacity: 0;
  transition: 0.11s ease-in-out width, 0.03s ease-in-out opacity;
}
#search-global.active {
  width: 200px;
  opacity: 1;
}
.menu {
  font-size: 1.2rem;
  color: #fff;
}
main .options {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px;
  margin: 0 0 0 25px;
  font-size: 0.9rem;
  font-weight: 400;
  color: #383838;
  position: relative;
}
.first-header main {
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.first-header main .options img {
  width: 35px;
  height: 35px;
  border-radius: 3px;
}
main{
  display: flex;
  flex-wrap: wrap;
}
main .dropdown_profile {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  bottom: -100%;
  left: 0%;
  background-color: #fff;
  width: 300px;
  transform: translateX(-50%);
  box-shadow: 0 2px 12px rgb(0 0 0 /.1);
  z-index: 2;
  padding: 8px;
  border-radius: 8px;
  transition: .15s ease-in opacity, .15s ease-in bottom;
}
main .dropdown_profile.active {
  opacity: 1;
  bottom: -170%;
  pointer-events: auto;
}
body .root > section {
  width: 100%;
  height: 100%;
  padding: 30px;
  overflow-y: auto;
}
/* Table */
.table {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  border: var(--border-lighter);
  box-shadow: var(--box-shadow-input-darker);
}
.table-options{
  position: relative;
  margin: 14px 0;
}
.table-options .more {
  top:0;
  right:0;
  position: absolute;
  width: 37px;
  height: 37px;
  border:var(--border-lighter);
  border-radius: 8px;
  background: #f1f1f1;
  font-weight: 900;
  z-index: 1;
  font-size: var(--font-lg);
  color: #28292bad;
}
.table-options .more:hover {
  background-color: #32343813;
}
.table-options .more ol{
  position: absolute;
  border:var(--border-lighter);
  padding: 10px;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  top:35px;
  right: 0;
  width: 200px;
  background-color: white;
  font-size: var(--font-xs-2);
  font-weight: 500;
  transition: .15s ease all;
  color:var(--text-primary-color)
}
.more ol li{
  width: 100%;
  padding: 10px 7px;
  border-radius: 5px;
}
.more ol li i{
  font-size: var(--font-base-2);
  margin-right: 5px;
}
.table-options .more ol li:hover{
  background: whitesmoke;
}
.table-options .more.active ol{
  top:40px;
  opacity: 1;
  pointer-events: all;
}
.table h2, .profile h2 {
  font-size: var(--font-xl);
  font-weight:600;
  color: rgb(17 24 39);
  margin-bottom: 10px;
}
.table > p, .profile > p{
  color: rgb(107 114 128);
  font-size: .9rem;
}
.table form{
  margin: 25px 0 0 0;
}
table {
  border-collapse: collapse;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
  text-align: center;
}
.overflow{
  width: 100%;
  overflow: auto;
}
table thead {
  position: relative;
  width: 100%;
  height: 55px;
  color: rgb(17 24 39);
  font-weight: 500;
  font-size: .91rem;
  background: #eff1f1;
  transition: .14s ease background;
}
.empty thead{
  background: white;
}
table tbody td {
  color: rgb(75 85 99);
  max-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
}
td {
  padding: 2px;
}
td span.match{
  color:var(--primary-color);
}
table tbody td img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 100%;
}
table tbody tr {
  height: 50px;
  position: relative;
}
tr.not-elements::after{
    position: absolute;
    top: 50%;
    color: rgb(107 114 128);
    left: 50%;
    transform: translate(-50%,-50%);
    content: var(--text-alert);
}
table tbody {
  color: #112d44;
  font-size: var(--font-base);
}
td.value-null::before{
  content: "";
  display: block;
  width: 80%;
  margin: auto;
  height: 1px;
  background: rgb(75 85 99 /.5);
}
tr::before{
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  content: "";
  background: rgb(100 116 139/.2);
}
tr:last-child::before{
  height: 0;
}
table .actions {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 5px;
}
table .actions button.edit {
  background-color: #00a2ff1c;
  color: #107cbac9;
  border: 1px solid rgba(16, 124, 186, 0.40)
}
table .actions button.delete {
  background-color: rgb(255 0 0 / 11%);
  color: rgb(139 0 0 / 70%);
  border: 1px solid rgb(139 0 0 / 30%);
}
table .actions button.add {
  background-color: rgb(10 255 0 / 11%);
  color: rgb(5 139 0 / 70%);
  border: 1px solid rgb(5 139 0 / 40%);
}

table .actions button.subtract {
  background-color: #ff73001c;
  color: #d76d18c2;
  border: 1px solid rgba(221, 113, 12, 0.4);
}
table .actions button.edit:hover {
  background-color: #00a2ff2f;
}
table .actions button.delete:hover {
  background-color: rgb(255 0 0 / 20%);
}
table .actions button.subtract:hover {
  background-color: #ff730036;
}
table .actions button.add:hover {
  background-color: rgb(10 255 0 / 20%);
}
table.empty tbody ::before{
  background: var(--primary-color);
  height: 100%;
  color:rgb(255 255 255 /.9);
  content: "Ningun producto a sido seleccionado";
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Table */
.badge {
  line-height: normal;
  padding: 3px 8px;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 400;
  border: 1px solid #fff;
  font-weight: 600;
  height: fit-content;
  border-radius: 15px;
}
.badge.action{
  position: absolute;
  right: 0;
  top:50%;
  transform: translateY(-50%);
}
.badge:is(.success,.complete) {
  background: #00ff2a17;
  color: #07922ad9;
  border-color: #04a52736;
}
.badge:is(.warning,.pending) {
  background: #ff000012;
    color: #cc0000ad;
    border-color: #b824242f;
}
.badge.info{
  background: #d1f1ff59;
  color:rgba(19, 110, 170, 0.75);
  border-color: #1b9edb42;
}
.badge{
  background: #bbbebe27;
  color:rgba(119, 119, 119, 0.75);
  border-color: #9494942d;
}

body section header.description {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 3px 12px rgb(0 0 0 /0.07);
  border-radius: 7px;
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 15px;
}
.pagination{
  display: flex;
  background: white;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  border: var(--border-lighter);
  box-shadow: var(--box-shadow-cards);
  border-radius: 20px;
  width: fit-content;
  margin: 20px auto 0 auto;
}
.items_pagination{
  --width-line: 0px;
  --left-position-line: 0;
  position: relative;
}

.items_pagination::before{
  transition: .15s ease-in left, .15s ease-in width;
  content: "";
  bottom: -3px;
  position: absolute;
  width: var(--width-line);
  left: var(--left-position-line);
  height: 1px;
  background-color: var(--primary-color);
}
.pagination .items_pagination{
  display: flex;
}
.pagination .items_pagination button.active{
  color: var(--primary-color);
  font-weight: 500;
}
.items_pagination button{
  position: relative;
}
.pagination button{
  padding: 7px 15px;
  color: rgb(75 85 99);
}
.pagination .items_pagination button:first-child::before{
  content:"";
  width: 1px;
  background:rgb(100 116 139/.28);
  position: absolute;
  top: 50%;
  left: 0;
  height: 80%;
  transform: translateY(-50%);
}
.pagination .items_pagination button:last-child::before{
  content:"";
  width: 1px;
  background:rgb(100 116 139/.28);
  position: absolute;
  top: 50%;
  right: 0;
  height: 80%;
  transform: translateY(-50%);
}
section header.description h1{
  font-size: 1.4rem;
}
section header.description > i {
  height: 45px;
  width: 45px;
  background-color: rgb(55 151 222 / 82%);
  color: #fff;
  border-radius: 7px;
  font-size: 1.3rem;
  display: grid;
  place-content: center;
}
section header.description p {
  font-size: 0.9rem;
  color: rgb(100 116 139/.8);
}
section .actions {
    display: flex;
}
section .actions button{
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 7px;
    margin: 2px;
}
div.float{
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: #fff;
  font-size: 1.2rem;
}
div.float > button{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    font-weight: 700;
    z-index: 10;
    color: #fff;
    background: var(--primary-color);
}
div.float >div button{
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
div.float > div > div{
  display: flex;
  align-items: center;
  justify-content: end;
  transition: .2s ease-in;
  opacity: 0;
  margin: -20px 0;
  pointer-events: none;
}
div.float.active > div > div{
  margin: 5px 0;
  opacity: 1;
  pointer-events: auto; 
}
div.float.active > div > div span{
  background: #d9d9d9;
  color: #000;
  padding: 2px 6px;
  border-radius: 2px;
  font-size: 1rem;
  margin-right: 10px;
}
div.float > div div.apart button{
  color:currentColor;
  background: rgb(139 0 0 / 70%);
}
div.float > div div.counted button{
  color:currentColor;
  background: rgb(60, 150, 200);
}
td.actions{
  width: auto;
  margin-top: 2px;
  overflow: auto;
  max-width: 200px;
  gap:3px;
}
button.primary, a.primary{
  color: #fff;
  background: var(--primary-color);
}
.avatar{
  width: 33px;
  margin: auto;
  font-weight: 100;
  opacity: .9;
  line-height: initial;
  height: 33px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
#avatar.active img{
  display: none;
}
#avatar.inactive span{
  display: none;
}
.hidden{
  display: none;
}