section{
    width: 100%;
    height: 100%;
}
.total-details{
    margin-top: 30px;
    line-height: 1.5;
    text-align: left;
    color:var(--text-primary-color);
}
.total-details h3{
    font-size: var(--font-xl);
    font-weight: 600;
}
.total-details p{
    font-size: var(--font-sm);
}
section .sale-message{
    margin: 1.5rem 0;
    font-size: var(--font-sm);
    display: flex;
    align-items: center;
    padding: 1.5rem;
    line-height: 1.5;
    border-radius: 8px;
    color: var(--primary-color-hover);
    background: #dce7ff;
    width: 100%;
    gap:1rem;
}
section .sale-message > i{
    font-size: 22px;
}
.sale-details{
    width: 100%;
    text-align: center;
}
.sale-details picture{
    margin: 1.5rem 0;
    border-radius: 8px;
    width: 100%;
    display: block;
    overflow: hidden;
}
.sale-details picture img{
    width: 110%;
    aspect-ratio: 16/6;
    margin-left: -5px;
    object-fit: cover;
}
.sale-details .text{
    margin: 0 0 2rem 0;
}
.sale-details .text p{
    color: rgb(107 114 128);
    font-size: .9rem;
    line-height: 1.5;
}
.sale-details .text > strong{
    display: block;
    font-weight: 600;
    color: rgb(17 24 39);
    margin-bottom: 10px;
    font-size: var(--font-xl);
}
.details{
    margin-top: 20px;
    font-size: var(--font-xl);
    line-height: 1.5;
    color: rgb(0 0 0 /.8);
}
.details strong{
    font-weight: 600;
    color:rgb(5 10 20);
}
.dialog{
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
}
.dialog .sell > h2, .dialog .client > h2{
    font-size: var(--font-xl);
    font-weight: 600;
    color:rgb(5 10 20);
    margin-bottom: 10px;
}
.dialog .sell > p, .dialog .client > p {
    line-height: 1.5;
    color:rgb(107 114 128);
    font-size: .9rem;
}
.dialog .client{
    opacity: 0;
    height: 0;
}
.dialog .sell, .dialog .client{
    min-width: 100%;
    transition: .2s ease all;
}
.dialog.client_show .sell{
    margin-left: -100%;
    opacity: 0;
    height: 0;
}
.dialog.client_show .client{
    opacity: 1;
    height: 100%;
}