section > div{
    display: flex;
    justify-content: start;
    gap:15px;
}
section > div > button.card{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: var(--border-lighter);
    gap:10px;
    width: min(100%, 280px);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 12px rgb(0 0 0 /.056);
    border-radius: 7px;
}
button.card h3{
    margin-bottom: 5px;
    color: rgba(30, 34, 36, 0.95);
    font-weight: 700;
}
button.card:hover{
    background: #f9f9f9;
}
button.card > i{
    color: white;
    padding: 8px;
    border-radius: 100%;
    background-color: rgba(30, 34, 36, 0.95);
    font-size: 1.3rem;
}
