section  .maintenace{
    display: flex;
    justify-content: start;
    gap:15px;
    margin-top: 20px;
}
.maintenace h2{
    font-weight: 600;
    font-size: var(--font-xl);
    margin-bottom: 10px;
    color: rgb(17 24 39);
}
.maintenace > p{
    width: 500px;
    color:rgb(107 114 128);
    font-size: .9rem;
}
button.card{
    box-shadow: var(--box-shadow-cards);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: var(--border-lighter);
    border-color: transparent;
    gap:10px;
    width: min(100%, 280px);
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    border: var(--border-lighter);
}
button.card h3{
    margin-bottom: 5px;
    color: var(--text-primary-color);
    font-weight: 700;
}
button.card p{
    line-height: 1.4;
    color:var(--text-terciary-color);
    opacity: .8;
}
button.card:hover{
    border-color: var(--primary-color);
    background: #fcfcfc;
}
button.card > i{
    color: white;
    padding: 8px;
    border-radius: 100%;
    background-color: var(--primary-color);
    font-size: 1.3rem;
}